<h1>Message Switch</h1>
{{ message$ | async }}

<button (click)="spanishMessage()">SPANISH</button>
<button (click)="frenchMessage()">FRENCH</button>

<hr>

<h1>vote and text editing</h1>
<div *ngIf="post | async as p">

  <h2>{{p.text}}</h2>
  <h4>Votes: {{p.likes}}</h4>

  <button (click)="upvote()">Up vote</button>
  <button (click)="downvote()">Down vote</button>
  <button (click)="resetPost()">Reset</button>
<br>
  <input [(ngModel)]="text" >
  <button (click)="editText()">Change Title</button> 

</div>